@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFEAC1;
}

/* estilos para la barra de navegacion */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #905835;
    padding: 10px;
    font-family: 'Lilita One', sans-serif;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.menu-icon .bar {
    width: 60px;
    height: 10px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.menu-icon.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.brand {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: -550px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 30px;
    width: 20%;
    margin-right: -350px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
}

.search-bar button {
    background-color: #905835;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.user-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 133px;
}

.user-cart .cart,
.user-cart .user,
.user-cart .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    margin-left: 49px;
}

.user-cart .search {
    margin-left: -200px;
}

.user-cart .cart {
    margin-left: 100px;
    margin-right: -100px;
}

.user-cart .user {
    margin-left: 100px;
    margin-right: -100px;
}

.user-cart .cart .icon,
.user-cart .user .icon,
.user-cart .search .icon {
    font-size: 1.2rem;
    color: #333;
}

/* estilos para el carrusel */

.body2 {
    width: 100vw;
    height: 60vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    /* Contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    overflow: hidden;
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 350px;
    width: 950px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: -40px;


}

.cards {
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    margin: 0 -250px;
}

.cards:first-child {
    margin-right: -700px;
}

.cards:last-child {
    margin-left: -700px;
}

.imgss {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
}

.container-ubi {
    display: flex;
    max-width: 90%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 100px;
    border: 1px solid #000;
    justify-content: center;
    background-image: url(/img/mach.JPG);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Lilita One', sans-serif;

}

.ubi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2.5rem;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 1.5rem;
    max-width: 90%;
    height: 70px;
    margin-top: 120px;
    margin-bottom: 290px;
    margin-left: auto;
    margin-right: auto;
}

.info-text {
    width: 1110px;
    margin-top: 60px;
    font-family: 'Lilita One', sans-serif;
}

.api-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-button {
    background-color: #905835;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 2.0rem;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Lilita One', sans-serif;
}